*.py[co]
.DS_Store
# Packages
*.egg
*.egg-info
.env
*intray*
token_store.txt
dist
build
eggs
parts
bin
include
lib
man
var
sdist
develop-eggs
.installed.cfg
__pycache__
cover
.coverage
pyvenv.cfg
report.html

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo
